<template>
    <div class="login-form">
        <form>
            <div class="form-group">
                <label for="inputLogin">Логин</label>
                <input type="text" class="form-control" id="inputLogin" placeholder="Введите логин"
                    v-model="login">
            </div>
            <div class="form-group">
                <label for="inputPassword">Пароль</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Пароль"
                    v-model="pass">
            </div>
            <input type="button" class="btn btn-primary" v-on:click="auth()" value="Вход">
        </form>
    </div>
    <router-view />
</template>

<script>
import axios from 'axios';

export default {
    name: 'Auth',
    components: {},
    data: () => ({
        login: "",
        pass: ""
    }),
    props: {},
    methods: {
        auth: async function() {
            await axios.post(
                'http://stavteam.ddns.net:5000/Login/', 
                { logins: this.login, password: this.pass})
            .then(function(response) {
                if (response.data[0].id != '') {
                    console.log('success');
                    localStorage.setItem('auth', true);
                    localStorage.setItem('fio', response.data[0].fio);
                    localStorage.setItem('userId', response.data[0].id);
                } else {
                    localStorage.removeItem('auth');
                    localStorage.removeItem('fio');
                    alert("Неверный логин или пароль!");
                }
            })
            .catch(function(error) { 
                console.log(error);
            });
        
            if (localStorage.getItem('auth') != null) {
                this.$router.push('/');
            }
        }
    }
}
</script>

<style scoped>
    .login-form {
        margin: 5% auto 0;
        width: 50%;
    }
    input[type="button"] {
        margin-top: 5px;
    }
</style>