<template>
    <div class="col-events">
        <ul class="list-group">
            <li class="list-group-item" 
            v-on:toggle="choosePlot($event)" 
            v-for="item in events" :key="item.id"
            >
                {{ item.name }}
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: 'Map',
    components: {},
    data: () => ({
      events: [
          {id: 1, name:'event1'}, 
          {id: 2, name:'event2'}, 
          {id: 3, name:'event3'}
        ],
    }),
    props: {},
    methods: {},
    mounted() {       
        this.emitter.on('choosePlot', (item) => {
            this.events = item.events;
        });
    }
}
</script>

<style scoped>
    ul li {
        cursor: pointer;
    }
</style>