<template>
    <header><Header/></header>
    <div class="main">
        <Plots/>
        <Map/>
    </div>
</template>

<script>
import Header from '../Header.vue'
import Plots from './Plots.vue'
import Map from './Map.vue'

export default {
  name: 'Main',
  components: {
    Header,
    Plots,
    Map,
  },
  methods: {
      
  }
}
</script>