<template>
    <div class="map col-map">
        <!--<iframe src="https://frexosm.ru/power/#4/55/40" width="100%" height="100%"></iframe>-->
        <div ref="map-root"
            style="width: 100%; height: 100%">
        </div>
        <div class="map-info">
            <span v-if="this.mapInfo.type">Тип: {{ this.mapInfo.type }}</span><br/>
            <span v-if="this.mapInfo.voltage">Вольтаж: {{ this.mapInfo.voltage }}</span>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import View from 'ol/View'
import Map from 'ol/Map'
import TileLayer from 'ol/layer/Tile'
import OSM from 'ol/source/OSM'
import VectorLayer from 'ol/layer/Vector'
import VectorSource from 'ol/source/Vector'
import GeoJSON from 'ol/format/GeoJSON'
import {Circle as CircleStyle, Fill, Stroke, Style} from 'ol/style';

import BingMaps from 'ol/source/BingMaps'
import 'ol/ol.css';

const image = new CircleStyle({
    radius: 5,
    fill: null,
    stroke: new Stroke({color: 'red', width: 3}),
});

const styleFunction = function (feature) {
    return styles[feature.getGeometry().getType()];
};

const styles = {
    'Point': new Style({
        image: image,
    }),
    'LineString': new Style({
        stroke: new Stroke({
            color: 'red',
            width: 2,
        }),
    }),
    'MultiLineString': new Style({
        stroke: new Stroke({
            color: 'red',
            width: 5
        }),
        width: 5
    }),
    'MultiPoint': new Style({
        
    }),
    'MultiPolygon': new Style({
        stroke: new Stroke({
            color: 'green',
            width: 1,
        }),
        fill: new Fill({
            color: 'rgba(255, 255, 0, 0.1)',
        }),
    }),
    'Polygon': new Style({
        stroke: new Stroke({
            color: 'blue',
            lineDash: [4],
            width: 1,
        }),
        fill: new Fill({
            color: 'rgba(0, 0, 255, 0.1)',
        }),
    }),
    'GeometryCollection': new Style({
        stroke: new Stroke({
            color: 'yellow',
            width: 4,
        }),
        fill: new Fill({
            color: 'rgba(242, 0, 0, 0.1)', // красный прозрачный
            transparent: 0.2
        }),
        image: new CircleStyle({
            radius: 10,
            fill: null,
            stroke: new Stroke({
                color: 'green',
            }),
        }),
    }),
    'Circle': new Style({
        stroke: new Stroke({
            color: 'red',
            width: 2,
        }),
        fill: new Fill({
            color: 'rgba(255,0,0,0.2)',
        }),
    }),
};

export default {
    name: 'Map',
    components: {},
    props: {
        feature: null
    },
    methods: {
        updateMapSource(geojson) {
            const view = this.olMap.getView();
            const source = this.vectorLayer.getSource();

            console.log('create new GeoJSON');
            const features = new GeoJSON({
                featureProjection: 'EPSG:3857',
            }).readFeatures(geojson);

            source.clear();
            source.addFeatures(features);

            view.fit(source.getExtent())
        },
        getIntersections(id) {
            let result = axios.get("http://stavteam.ddns.net:5000/" + id);
            return result;
        }
    },
    data: () => ({
        olMap: null,
        vectorLayer: null,
        geojson: {},
        mapMode: localStorage.getItem('mapMode'),
        mapInfo: {
            type: null,
            voltage: null
        }
    }),
    mounted() {
        this.vectorLayer = new VectorLayer({
            source: new VectorSource({
                features: [],
            }),
            style: styleFunction,
        })

        let mode;
        switch(this.mapMode) {
            case 'scheme':
                mode = new OSM();
                break;
            case 'satellite':
                mode = new BingMaps({ // карта спутник
                    key: 'AkPePzQAUoC7qKlVTNT4nw0Ykq2EJ4nLE9Iq8-7NZY4wI2Owxebqqur_4zMiboZh',
                    imagerySet: "AerialWithLabels"
                });
                break;
            default: mode = new OSM();
        }

        this.olMap = new Map({
            target: this.$refs['map-root'],
            layers: [
                new TileLayer({
                    source: mode
                }),
                this.vectorLayer
            ],
            view: new View({
                zoom: 1,
                center: [0, 0],
                constrainResolution: true
            }),
        });
    },
    created() {
        this.emitter.on("chooseLine", choosen => {
            let line = JSON.parse(JSON.stringify(choosen));
            console.log('line', line);

            let intersections = [];
            try {
                this.getIntersections(line.id).then(response => { 
                    intersections = JSON.parse(JSON.stringify(response.data));
                    console.log(intersections)

                    if (intersections.length > 0) {
                        let isolines = [];
                        intersections.forEach((element) => {
                            let isoline = JSON.parse(element.isoline);
                            isolines.push({
                                'type': isoline.type,
                                'coordinates': isoline.coordinates
                            });
                        });

                        const view = this.olMap.getView();
                        const source = this.vectorLayer.getSource();

                        const features = new GeoJSON({
                            featureProjection: 'EPSG:3857',
                        }).readFeatures({
                            'type':'GeometryCollection',
                            'geometries': isolines
                        });

                        console.log(features);
                        source.addFeatures(features);

                        view.fit(source.getExtent())

                    }
                }) 
                .catch(err => { 
                    console.error(err); 
                }); 
            } catch(e) {
                console.log(e);
            }

            let geom = JSON.parse(line.geom);
            let bufferZone = JSON.parse(line.bufferZone);

            let geometries = [];
            geometries.push({
                'type': geom.type,
                'coordinates': geom.coordinates
            });
            geometries.push({
                'type': bufferZone.type,
                'coordinates': bufferZone.coordinates
            });

            console.log('geometries', geometries);

            this.mapInfo.type = line.osm_type;
            this.mapInfo.voltage = line.voltage;

            this.updateMapSource({
                'type':'GeometryCollection',
                'properties': {
                    'type': line.osm_type,
                    'voltage': line.voltage,
                },
                'geometries': geometries
            });
        });
    }
}
</script>

<style scoped>
    .map {
        width: 95%;
        height: 500px;
    }
</style>