<template>
    <div class="col-plots accordion" id="accordionExample">
        <div class="card" >
            <div class="card-header" id="headingLines">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseLines" aria-expanded="true" aria-controls="collapseLines">
                        Линии ЛЭП
                    </button>
                </h5>
            </div>
            <div id="collapseLines" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <ul>
                        <li v-on:click="chooseLine(item)" v-for="item in this.lines" :key="item.id">Линия {{ item.id }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: 'Map',
    components: {},
    props: {},
    data: () => ({
        lines: Array(),
    }),
    async created() {
        let response = await axios.get("http://stavteam.ddns.net:5000/ElectroLinks/" + localStorage.getItem("userId"));
        if (response) {
            this.lines = JSON.parse(JSON.stringify(response.data));
        }
    },
    methods: {
        chooseLine: function(item) {
            this.emitter.emit("chooseLine", item);
        },
    }
}
</script>

<style scoped>
    ul {
        list-style: none;
    }
    ul li {
        cursor: pointer;
    }
</style>