<template>
    <div class="header">
        <span class="logo"><img src="/src/images/logo.svg"></span>
        <span class="top-menu">
            <ul>
                <li v-on:click="goto('map')">Карта</li>
                <li v-on:click="sorry()">Список участков</li>
                <li v-on:click="sorry()">Бригады</li>
                <li v-on:click="sorry()">Работы</li>
                <li v-on:click="sorry()">События</li>
                <li v-on:click="sorry()">Справочник</li>
                <li v-on:click="sorry()">Отчеты</li>
            </ul>
        </span>
        <div class="controls">
            <span>{{ this.fio }}</span>
            <span class="notification" v-on:click="sorry()"><img src="/src/images/notification.svg"></span>
            <span class="settings" v-on:click="settings()"><img src="/src/images/settings.svg"></span>
            <span class="logout" v-on:click="logout()" title="Выход"><img src="/src/images/logout.png"></span>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Auth',
    data: () => ({
        fio: localStorage.getItem("fio")
    }),
    methods: {
        logout: function() {
            localStorage.removeItem('auth');
            console.log('userAuth', localStorage.getItem('auth'));
            this.$router.push('/login');
        },
        goto: function(path) {
            switch(path) {
                case 'map':
                    this.$router.push("/");
                    break;
                default:
                    console.log('Упс! Что-то пошло не так...');
            }
            
        },
        settings: function() {
            this.$router.push('/settings');
        },
        sorry: function() {
            alert("Извините, раздел в разработке...");
        }
    }
}
</script>

<style scoped>
    .header {
        height: 80px;
    }
    .logo {
        margin-left: 20px;
    }
    .logo img {
        margin-top: 14px;
    }
    .top-menu {
        margin: 33px 0px 0px 35px;
    }
    .top-menu ul {
        display: inline;
        list-style: none;
    }
    .top-menu ul li {
        display: inline;
        margin-right: 15px;
        cursor: pointer;
    }
    .top-menu ul li:last-child {
        margin-right: 0;
    }
    .name {
        margin: 28px 15px 0px 0px;
        display: inline;
    }
    .controls {
        margin: 18px 20px 0px 0px;
        display: inline;
        float: right;
    }
    .controls span {
        margin-right: 15px;
    }
    .controls span:last-child {
        margin-right: 0px;
    }
    .logout img {
        height: 27px;
    }
    .settings img {
        height: 30px;
    }
    .notification, .logout, .settings {
        cursor: pointer;
    }
</style>