<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>

export default {
  name: 'App',
  components: {}
}
</script>

<style>
  .main {
    display: grid;
  }
  .col-plots {
    grid-column: 1;
  }
  .col-map {
    grid-column: 2/10;
  }
</style>
