<template>
    <header><Header/></header>
    <div class="settings">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="MapBlock">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseMap" aria-expanded="true" aria-controls="collapseMap">
                            Настройки карты
                        </button>
                    </h5>
                </div>
                <div id="collapseMap" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="map-settings-form">
                            <form>
                                <div class="form-group">
                                    <label for="selectDisplayMode">Режим отображения карты:</label>
                                    <select id="selectDisplayMode" class="form-select" aria-label="Выберите режим карты"
                                        v-model="settings.map">
                                        <option value="scheme">Схема</option>
                                        <option value="satellite">Спутник</option>
                                    </select>
                                </div>
                                <input type="button" class="btn btn-primary" v-on:click="saveMapMode()" value="Сохранить">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="satelliteImageBlock">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#uploadSatelliteImage" aria-expanded="true" aria-controls="uploadSatelliteImage">
                            Загрузка снимков
                        </button>
                    </h5>
                </div>
                <div id="uploadSatelliteImage" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <form class="upload-form">
                            <label class="form-label" for="uploadImage">Выберите файл для загрузки</label>
                            <input type="file" class="form-control" id="uploadImage" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="integrationBlock">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#integration" aria-expanded="true" aria-controls="integration">
                            Интеграция со сторонними сервисами
                        </button>
                    </h5>
                </div>
                <div id="integration" class="collapse hide" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="addressIntegreation">Адрес ресурса:</label>
                                <input id="addressIntegreation" type="text" class="form-control">
                                <label for="loginIntegreation">Логин:</label>
                                <input id="loginIntegreation" type="text" class="form-control">
                                <label for="passIntegreation">Пароль:</label>
                                <input id="passIntegreation" type="password" class="form-control">
                            </div>
                            <input type="button" class="btn btn-primary" v-on:click="alert('Сохранить')" value="Сохранить">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer><Footer/></footer>
</template>

<script>
import Header from '../Header.vue'
import Footer from '../Footer.vue'

export default {
    name: 'Main',
    components: {
        Header,
     Footer
    },
    data: () => ({
        settings: {
            map: {}
        },
    }),
    methods: {
        saveMapMode() {
            localStorage.setItem('mapMode', this.settings.map);
            this.$router.push('/');
        }
    }
}
</script>